<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width = device-width, initial-scale=1">

    <title> Main Page </title>
<link rel= "stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


</head>
<body>

<nav class="navbar navbar-default">

  <div class="container">

    <div class="navbar-header">

      <a href="" class="navbar-brand">Sense</a>

  </div>
    <ul class="nav navbar-nav ">

        <li>
        <a href="" class="navbar-brand">about</a>
        </li>
        <li>
        <a href="" class="navbar-brand">see</a>
        </li>
        <li>
        <a href="" class="navbar-brand">say</a>
        </li>


    </ul>
    <ul class="nav navbar-nav navbar-right">

        <li>
        <a href="signup.html" class="navbar-brand">Sign Up</a>
        </li>
        <li>
        <a href="" class="navbar-brand">Log in</a>
        </li>



    </ul>

  </div>

</nav>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
